{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">📚 Dashboard แบบทดสอบ Excel</h2>

<div style="text-align:center; margin-top:30px;">

    <a href="/quiz1">
        <button style="padding:10px 20px; margin:10px;">บทที่ 1</button>
    </a>

    <a href="/quiz2">
        <button style="padding:10px 20px; margin:10px;">บทที่ 2</button>
    </a>

    <a href="/quiz3">
        <button style="padding:10px 20px; margin:10px;">บทที่ 3</button>
    </a>

    <a href="/quiz4">
        <button style="padding:10px 20px; margin:10px;">บทที่ 4</button>
    </a>

    <a href="/quiz5">
        <button style="padding:10px 20px; margin:10px;">บทที่ 5</button>
    </a>

    <a href="/quiz6">
        <button style="padding:10px 20px; margin:10px;">บทที่ 6</button>
    </a>

</div>

{% endblock %}