<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body style="font-family:sans-serif;background:#ecf0f1;display:flex;justify-content:center;align-items:center;height:100vh;">

<div style="background:white;padding:40px;border-radius:10px;width:300px;text-align:center;box-shadow:0 0 10px #ccc;">

    <!-- โลโก้โรงเรียน -->
    <img src="{{ url_for('static', filename='logo.png') }}" width="100">

    <h2>Login</h2>

    <form method="POST">
        <input name="username" placeholder="Username" required style="width:100%;padding:10px;margin:5px"><br>
        <input name="password" type="password" placeholder="Password" required style="width:100%;padding:10px;margin:5px"><br>

        <button type="submit" style="width:100%;padding:10px;background:#3498db;color:white;border:none;">
            Login
        </button>
    </form>

</div>

</body>
</html>